*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #eceef0;
}

.container{
    max-width: 1280px;
    width: 100%; 
    margin: 0 auto; /*centralizar na horizontal*/
}

header .container{
    display: flex; /*elementos um ao lado do outro*/
    justify-content: space-between; /*elementos no extremo do container*/
    align-items: center; /*centralizr na vertical*/
}

header{
    padding: 16px 0 16px; /*espaçamento topo de 16px, demais 0*/
    background-color: #9f3f4b;
    /*border-bottom: 1px solid #0033ff; borda inferior para separar o site*/
    margin-bottom: 46px; /*margem para distanciar do conteúdo principal*/
}

header li{
    float: left; /*elementos um ao lado do outro*/
    list-style: none; /*remove os bulets*/
    padding: 8px;
    /*border-top: 4px solid transparent;*/
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}

header nav li a { /*cor do link do cabeçalho*/
    color: #fff;
    text-decoration: none; /*remove o underline dos links*/
}

header nav li a:hover { /* muda a cor da fonte ao passar o mouse*/
    color: #ffee33;
}

header img{
    width: 400px; 
}

#about img{
    width: 650px;
    margin-right: 24px;
}

.container-flex{
    display: flex;
    text-align: justify;
    font-size: 18px;
    color: rgb(131, 131, 131);
}

section{
    padding: 30px 0;
}

section h2{ /*margem no titulo da seção*/
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    color:#2b639e;
    /*border-top: 2px dotted rgb(63, 80, 151);*/
}

button{
    display: block;
    width: 100%; /*ocupa 100% do container*/
    padding: 8px 0;
    border: none;
    background-color: #9f3f4b;
    color: #fff;
    font: 16px;
    font-weight: lighter;
    font-style: italic;
    cursor: pointer;
    border-radius: 5px;
}

button:hover { /*muda a cor do fundo ao passar o mouse*/
    background-color: #2b639e;
}

form{
    max-width: 360px;
}

.form-campo{
    margin-bottom: 16px; /*marfem inferior*/
}

.form-campo label{
    font-weight:lighter;
    display: block; /*label em uma linha e campo em outra*/
    font-size: 14px;
}

.form-campo textarea{
    resize: none;
    height: 120px;
}

.form-campo input,
.form-campo textarea{
    width: 100%;
    display: block;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

form button{
    width: 120px;
}

.message-error{
    color: red;
    font-size: 12px;
    font-style: italic;
}

footer{
    background-color: #9f3f4b;
    padding-top: 16px; /*espaçamento topo*/
    color: #fff;
}

footer li{
    list-style: none; /*remove bullet*/
    margin-left: 16px;
}

footer li img{
    height: 32px;
}

footer > .container-flex{
    color: #fff;
    font-size: small;
}

footer > .container{
    justify-content: space-between; /*titulo na esquerda e menu na direita*/
    align-items: center; /*alinhamento vertical*/
    padding-bottom: 16px; /*espaçamento abaixo*/
    padding-top: 8px;
}

.price{
    display: block;
    margin: 16px 0;
}

.price del{
    font-size: 14px;
    color:rgb(141, 141, 141)
}


.produtos-destaque{
    display: grid;
    grid-template-columns: repeat(4, 24.5%);
    column-gap: 1%; /*espaçamento entre as colunas*/
    /*row-gap: 5%; /*espaçamento entre linhas*/
}

.produtos-destaque img{
    width: 100%;
    padding: 8px;
}

.produtos-destaque a{
    text-decoration: none; /*retira o underline*/
    color: #2b639e;
    font-size: medium;
    text-align: center;
}

.produtos-destaque a button{
    width: 100%;
}

.produtos-destaque a del{
    margin-right: 8px;
}

.produtos-destaque a strong{
    font-size: 20px;
}

@media screen and (max-width: 767px){
    .conteundo{
        display: block;
    }

    .container{
        max-width: 90%;
    }

    .container-flex{
        display: block;
        font-size: auto;
        }
    
    .container-flex img{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    
    .produtos-destaque{
        display: block;
    }

    .produtos-destaque button{
        width: 100%;
    }

    .produtos-destaque h3{
        font-size: auto;
    }

    .produtos-destaque img{
        width: 100%;
        padding: 18px;
    }

    header div.container{
        flex-direction: column;
    }

    header div.container img{
        width: 100%;
    }
    
    header li{
        font-size: 15px;
    }

    footer .icones{
        display: flex;
        width: auto;
        padding-top: 12px;
        justify-content: center;
    }

    footer p{
        text-align: center;
    }

    .produtos-destaque a{
        font-size: small;
    }

    #about img{
        width: 100%;
    }

    #about h2{
        font-size: 25px;
    }

    #about p{
        font-size: 15px;
    }

    #produts h2{
        font-size: 25px;
    }
    #contact h2{
        font-size: 25px;
    }

}


@media screen and (min-width: 768px) and (max-width: 1023px){
    .container{
        max-width: 90%;
    }

    .container-flex{
        display: block;
        font-size: auto;
    }

    .produtos-destaque{
        grid-template-columns: repeat(2, 49%); /*100-2=98 1 % de separação entre as colunas*/
    }

    .produtos-destaque img{
        width: 100%;
        padding: 16px;
    }

    .produtos-destaque h3{
        font-size: auto;
    }

    header li{
        font-size: 15px;
    }

    header div.container{
        flex-direction: column;
    }

    footer .container-flex{
        display: flex;
        padding-bottom: 16px; /*espaçamento abaixo*/
        padding-top: 8px;      
    }

    #about img{
        width: 100%;
    }

}


